*.sublime-*
.DS_Store
.vagrant/
src/

# production files

priv/ansible/group_vars/production
priv/ansible/group_vars/aws_*
priv/ansible/group_vars/selectel_*
priv/ansible/host_vars
priv/ansible/files/*.crt
priv/ansible/files/*.key
priv/ansible/files/*.conf