{
  "network": {
    "servers": {{ logstash_forwarder.servers | to_json }},
    "ssl certificate": "{{ logstash_forwarder.ssl_crt_dir }}/logstash-forwarder.crt",
    "ssl key": "{{ logstash_forwarder.ssl_key_dir }}/logstash-forwarder.key",
    "ssl ca": "{{ logstash_forwarder.ssl_crt_dir }}/logstash-forwarder.crt",
    "timeout": {{ logstash_forwarder.timeout }}
  },
  "files": {{ logstash_forwarder.files | to_json }}
}