check process puma with pidfile {{ app_path }}/shared/tmp/pids/puma.pid
  start program "/bin/su - {{ deploy_user }} -c 'cd {{ app_path }}/current && ( RACK_ENV=production /usr/bin/env bundle exec puma -C {{ app_path }}/shared/puma.rb --daemon )'"
  stop program "/bin/su - {{ deploy_user }} -c 'cd {{ app_path }}/current && ( RACK_ENV=production /usr/bin/env bundle exec pumactl -S {{ app_path }}/shared/tmp/pids/puma.state stop )'"
  if failed unixsocket {{ app_path }}/shared/tmp/sockets/puma.sock then alert
  if failed unixsocket {{ app_path }}/shared/tmp/sockets/puma.sock then restart
  if 5 restarts within 5 cycles then alert