production: &production
  adapter: postgresql
  host: {{ app_db_host }}
  database: {{ app_name }}
  username: {{ app_db_user }}
  password: {{ app_db_user_pass }} 
  encoding: unicode
  pool: 10

staging:
  <<: *production