production:
  host: {{ app.host }}
  secret_key_base: {{ app.secret }}
  pay_merchant_id: {{ payonline.merchant_id }}
  pay_private_security_key: {{ payonline.secret }}
  honeybadger:
    key: {{ honeybadger_api_key }}
  sendgrid:
    user_name: {{ sendgrid.user_name }}
    password: {{ sendgrid.password }}
    domain: {{ sendgrid.domain }}
    address: {{ sendgrid.address }}
  fyler:
    host: {{ fyler.host }}
    login: {{ fyler.login }}
    password: {{ fyler.password }}
    callback_host: {{ fyler.callback_host }}
    redis_db: {{ fyler.redis_db }}
  aws:
    alias: {{ nginx_cors }}
    bucket: {{ aws.bucket }}
    aws_key_id: {{ aws.aws_key_id }}
    aws_secret: {{ aws.aws_secret }}