production: &production
  host: {{ app.host }}
  base_host: {{ app.base_host }}
  secret_key_base: {{ app.secret }}
  cookie_prefix: {{ app.cookie_prefix }}
  cookie_domain: {{ app.cookie_domain }}
  admins_emails: {{ app.admins }}
  pay_merchant_id: {{ payonline.merchant_id }}
  pay_private_security_key: {{ payonline.secret }}
  recording_converter_url: {{ recording_converter_url }}
  yandex_password_key: "{{ yandex_password_key }}"
  auth_provider_docs: {{ auth_provider_docs }}
  tariff_version: {{ tariff_version }}
  from_emails:
    reg: 'Teachbase <reg@teachbase.ru>'
    notify: 'Teachbase Notification <notify@teachbase.ru>'
  fyler:
    host: {{ fyler.host }}
    login: {{ fyler.login }}
    password: {{ fyler.password }}
    callback_host: {{ fyler.callback_host }}
    redis_db: {{ fyler.redis_db }}
  aws:
    alias: {{ nginx_cors }}
    bucket: {{ aws.bucket }}
    aws_key_id: {{ aws.aws_key_id }}
    aws_secret: {{ aws.aws_secret }}
  tb_redis:
    host: {{ tb_redis.host }}
    port: {{ tb_redis.port }}
    db: {{ tb_redis.db }}
  influxdb:
    host: {{ influxdb.host }}
    username: {{ influxdb.username }}
    password: {{ influxdb.password }}
    cache: 
      expires_in: 600
    database: 'teachbase'
    port: 8086
    
  ws_path: {{ ws_path }}

  youtube:
    api_key: '{{ youtube_api_key }}'
    api_version: 'v3'
    api_service_name: 'youtube'

  google:
    api_key: '{{ google_api_key }}'
    search_cx: '{{ google_search_cx }}'

  dropbox:
    api_key: '{{ dropbox_api_key }}'

  amorail:
    usermail: {{ amo.usermail }}
    api_key: {{ amo.api_key }}
    api_endpoint: {{ amo.api_endpoint }}

  clickmeeting_privatelabel_enabled: {{ clickmeeting_privatelabel_enabled }}
  
  {% if clickmeetings_enabled %}
  
  clickmeetings:
    privatelabel_host: {{ clickmeetings.privatelabel_host }}
    privatelabel_api_key: {{ clickmeetings.privatelabel_api_key }}
    host: {{ clickmeetings.host }}

  {% endif %}

  {% if upstudy %}
  
  upstudy:
    endpoint: {{ upstudy.endpoint }}
    api_key: {{ upstudy.api_key }}
    secret_key: {{ upstudy.secret_key }}
    online_course_id: {{ upstudy.online_course_id }}
    meeting_id: {{ upstudy.meeting_id }}
    country: {{ upstudy.country }}
    city: {{ upstudy.city }}
    district: {{ upstudy.district }}

  {% endif %}

  {% if amoparams %}

  amoparams:
    pipeline:
      sales: "{{ amo.pipeline.sales }}"
      active: "{{ amo.pipeline.active }}"
    lead_status:
      interest: "{{ amo.lead_status.interest }}"
      pending: "{{ amo.lead_status.pending }}"
      success: "{{ amo.lead_status.success }}"
      closed: "{{ amo.lead_status.closed }}"
    lead_type:
      in: "{{ amo.lead_type.in }}"
      out: "{{ amo.lead_type.out }}"
    task_code:
      call: "{{ amo.task_code.call }}"
      letter: "{{ amo.task_code.letter }}"

  {% endif %}

  {% if netology %}
  
  netologiest:
    api_key: {{ netology.api_key }}
    api_url: {{ netology.api_url }}

  {% endif %}
  
  {% if sendgrid %}
  
  sendgrid:
    user_name: {{ sendgrid.user_name }}
    password: {{ sendgrid.password }}
    domain: {{ sendgrid.domain }}
    address: {{ sendgrid.address }}
  
  {% endif %}

  {% if getstream %}

  getstream:
    api_key: {{ getstream_api_key }}
    api_secret: {{ getstream_secret }}
    location: {{ getstream_location }}
    notification_feed: {{ getstream_feed_name }}
    enabled: {{ getstream_enabled }}

  {% endif %}

  {% if intercom %}

  intercom:
    app_id: {{ intercom.api_key }}
    secret_key: {{ intercom.secret_key }}
    enabled: {{ intercom.enabled }}
  
  {% endif %}

  oauth:
    fb_key: {{ fb_id }}
    fb_secret: {{ fb_secret }}
    vk_key: {{ vk_id }}
    vk_secret: {{ vk_secret }}
    mailru_key: {{ mailru_id }}
    mailru_secret: {{ mailru_secret }}
    google_key: {{ google_oauth_id }}
    google_secret: {{ google_oauth_secret }}
    yandex_key: {{ yandex_id }}
    yandex_secret: {{ yandex_secret }}
    callback_url: http://{{app.host}}/oauth/callback

staging:
  <<: *production